body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #1ba1e2;
  color:white;
}

#wrapper {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #1ba1e2;
  color:white;
}


#column1 {
            height: 500px;
            overflow: auto;
        }
#column2 {
            height: 500px;
            overflow: auto;
        }
#column3 {
            height: 500px;
            overflow: auto;
        }

#realcolumn1 {
            height: 500px;
            overflow: auto;
        }
#realcolumn2 {
            height: 500px;
            overflow: auto;
        }
#realcolumn3 {
            height: 500px;
            overflow: auto;
        }
#realcolumn4 {
            height: 500px;
            overflow: auto;
        }


.launch-modal {
    margin: 20px;
}

.carousel-inner>.item>img {
margin: 0 auto;
height: 500px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align:center;
}