doctype html
html
    head
        title= title

    body
        #loading
          span
          span
          span
          span
          span
          span
          p Thinking
        link(rel='stylesheet', href='/stylesheets/thinking.css', media='all', type="text/css")