doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/lib/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/custom.js')
        script(src='/javascripts/angular.min.js')
        script(src='lib/javascripts/jquery-1.10.2.js')
        script(src='lib/javascripts/bootstrap.min.js')
    body
        block content
        nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
            .navbar-header
             a.navbar-brand(href='http://tweetaly.st') Tweetalyst

        .container(style="padding:150px; background-color:white; color:black;")
          div
              h3 Tweetaly.st/Lexo Systems (P) Ltd Terms of Service
              div
                br
              div
                | These terms and conditions ("Terms of Service") govern your access to and use of Lexo Systems (P) Ltd. products, services, software, and website
                | (collectively "Services"), and any and all information, text, photos, graphics or other materials uploaded, downloaded, or appearing on the Services
                | (collectively "Content"). By accessing and using the Services, you are agreeing to be bound by these Terms of Service. If you do not agree to be bound by
                | these Terms of Service, you are not allowed to use the Services. Wherever used in these Terms of Service, "you", "your" or similar terms mean the person or
                | legal entity utilizing or accessing the Services.
              div
                br
              div
                | Lexo Systems (P) Ltd. may update and change the Terms of Service from time to time without notice. Continued use of the Service after any such changes
                | shall constitute your consent to such changes. You are responsible for regularly reviewing the most current version of the Terms of Service which are
                | currently available at: http://tweetaly.st/tos.
              div
                br
              div
                | These Terms of Service include Tweetaly.st's privacy policy which is currently available at: http://tweetaly.st/privacy. By accessing and using the
                | Services you are consenting to (or promising that you have obtained appropriate consent for) the collection and use of personal information by
                | Tweetaly.st/Lexo Systems (P) Ltd in accordance with Tweetaly.st's privacy policy.
              div
                br
              div
                | Basic Terms
              div
                | 1) You are responsible for your use of the Services and for any Content accessed or made available to others through your account (even if that Content is
                | accessed or made available by others). You take all risks associated with the Services and any Content accessed or made available to others through your
                | account. Lexo Systems (P) Ltd. will not be held responsible for your use of the Services or for any such Content.
              div
                | 2) To access or use the Services, you must be able to form a binding contract with Lexo Systems (P) Ltd and you must not be prohibited from receiving the
                | Services under Indian law or any other applicable laws.
              div
                | 3) Lexo Systems (P) Ltd may change the Services or stop providing them (temporarily or permanently) at any time and from time to time without notice.
              div
                | 4) Your access to and use of the Services must be in accordance with these Terms of Service. If you violate these Terms of Service, you are no longer
                | permitted to use the Services and Lexo Systems (P) Ltd may (but has no obligation to) terminate your ability to access or use the Services at any time.
              div
                | 5) You acknowledge that the Services allow you to access and use content and services offered by third party service providers (e.g., Twitter, Facebook)
                | ("Third Party Service Providers"). You must agree to comply with the relevant terms and conditions of any such Third Party Service Provider.
              div
                br
              div
                | Tweetaly.st Account
              div
                | 1) You must provide your legal full name, a valid email address, and any other information requested in order to complete the account sign-up process for
                | Tweetaly.st.
              div
                | 2) Each account login may only be used by one person - a single login shared by multiple people is not permitted. You may create separate logins for your
                | account for as many people as you'd like.
              div
                | 3) You are responsible for maintaining the security of your account login information and for any activities or actions occurring under your account. Lexo
                | Systems (P) Ltd encourages you to use a "strong" password (passwords that use a combination of alphanumeric characters like upper and lower case letters,
                | numbers and symbols) for your account. Lexo Systems (P) Ltd will not be responsible for any loss or damages resulting from your failure to comply with this
                | obligation.
              div
                | 4) You must be a human. Accounts registered by "bots" or other automated methods are not permitted.
              div
                | 5) One person or legal entity may not maintain more than one free account.
              div
                br
              div
                | Use and Restrictions
              div
                | 1) You may only use the Services to: (a) access Content on Tweetaly.st's website; and (b) access, manage and obtain information about your accounts with
                | Third Party Service Providers in accordance with these Terms of Service and any terms specified by the Third Party Service Providers.
              div
                | 2) You may not use the Services for any illegal or unauthorized purpose, including in any way that violates copyright or other laws applicable in India or
                | as applicable to you.
              div
                | 3) You may not access or search or attempt to access or search the Services by any means (automated or otherwise) except through Tweetaly.st's currently
                | available web interfaces.
              div
                | 4) You may not, without Lexo Systems (P) Ltd's prior written permission (including the permissions granted by these Terms of Service): (a) copy, distribute
                | (including by framing any of the Services on any web site), modify, sell, resell, enhance, translate, reproduce, sublicense, rent, lease, or otherwise
                | attempt to exploit the Services; (b) decompile, disassemble, reverse engineer, or otherwise attempt to discover the source code (except to the extent that
                | this restriction is expressly prohibited by law); (c) make derivative works of the Services; or (d) modify another website so as to falsely imply that it
                | is associated with the Services, Tweetaly.st or any other Lexo Systems (P) Ltd products or services.
              div
                | 5) You may not use the Services in a way that is detrimental to the operation of the Services or the access or use of the Services by anyone else. This
                | restriction applies to any use that interferes or attempts to interfere with the normal operations of the Services, including by hacking, deleting,
                | augmenting or altering the Services or any Content.
              div
                br
              div
                | Content
              div
                | 1) You understand that by using the Services you may be exposed to Content that might be unlawful, offensive, harmful, inaccurate, or otherwise
                | inappropriate or deceptive. Tweetaly.st/Lexo Systems (P) Ltd does not pre-screen Content and cannot be responsible for the Content accessed or made
                | available to others through the Services,
              div
                | 2) Tweetaly.st/Lexo Systems (P) Ltd and its designees have the right (but not the obligation) in their sole discretion to refuse or remove any Content that
                | is available via the Services. Tweetaly.st/Lexo Systems (P) Ltd may (but has no obligation to) remove Content and accounts containing Content that
                | Tweetaly.st/Lexo Systems (P) Ltd determines in its sole discretion to be unlawful, offensive, harmful, inaccurate, or otherwise inappropriate or deceptive
                | (including Content that Tweetaly.st/Lexo Systems (P) Ltd determines in its sole discretion to: (a) be libelous, defamatory, pornographic, obscene, or
                | otherwise objectionable; or (b) violate any party's intellectual property).
              div
                | 3) You must not upload, host, transmit, post or otherwise make available to others unsolicited email, SMSs, or "spam" messages through the Services.
              div
                | 4) Tweetaly.st/Lexo Systems (P) Ltd does not permit verbal, physical, written or other abuse (including threats of abuse or retribution) of any
                | Tweetaly.st/Lexo Systems (P) Ltd, employee, member, or officer. Engaging in any such behaviour may at Tweetaly.st/Lexo Systems (P) Ltd's sole discretion
                | result in the immediate termination or your account.
              div
                | 5) You must not transmit or otherwise make available to others any worms or trojans or viruses or any code or malware of a destructive nature ("Viruses")
                | through the Services.
              div
                br
              div
                | Payment Related
              div
                | 1) If you are purchasing Services from Tweetaly.st/Lexo Systems (P) Ltd, you must provide Lexo Systems (P) Ltd with a valid credit card.
              div
                | 2) If you sign up for an account with a free initial trial period, and you do not cancel that account within the first 30 days after it was initially
                | created, you will automatically be billed monthly starting on the 30th day after your account was initially created. If you cancel your account prior to
                | the beginning of the 30th day, you will not be charged.
              div
                | 3) Purchased Services are billed in advance on a monthly or yearly basis (as per the option you have chosen) and are non-refundable. This means that there
                | will be no refunds for partial months (or years) of service, or for months where the Services were unused.
              div
                | 4) You must fill out your correct province/state and country so that Lexo Systems (P) Ltd can understand its obligations to applicable taxation
                | authorities.
              div
                | 5) All fees are exclusive of taxes, levies, withholdings or duties imposed by taxing authorities, and you shall be responsible for payment of all such
                | taxes, levies, withholdings or duties in addition to the fees.
              div
                br
              div
                | Changes to the Services and Prices
              div
                | ) Tweetaly.st/Lexo Systems (P) Ltd may change the Services at any time and from time to time without notice. Any changes to the Services, including
                | releases of new features, enhancements, tools or resources, shall be subject to these Terms of Service. Lexo Systems (P) Ltd may also stop (temporarily or
                | permanently) providing the Services (or any part of the Services) to you or to its customers generally without prior notice.
              div
                | ) Prices of all Services, including but not limited to monthly subscription plan fees for Services, are subject to change upon 30 days notice from
                | Tweetaly.st/Lexo Systems (P) Ltd. Such notice may be provided at any time by posting the changes on Tweetaly.st's website (currently located at
                | http://tweetaly.st).
              div
                | ) Tweetaly.st/Lexo Systems (P) Ltd shall not be liable to you or to any third party for any change to the Services, price change, suspension or
                | discontinuance of the Services.
              div
                br
              div
                | Cancellation and Termination
              div
                | 1) If you choose to cancel your account, you are solely responsible for doing so properly. The current account cancellation procedure is as follows: (a)
                | you must send us an email at support @ lexosystems.com.
              div
                | 2) Your cancellation will take effect immediately and Lexo Systems (P) Ltd will delete all of your Content from the Services reasonably promptly after
                | cancellation. Once you cancel your account, your Content cannot be recovered.
              div
                | 3) Lexo Systems (P) Ltd does not accept any responsibility for loss of Content due to account cancellation.
              div
                | 4) Lexo Systems (P) Ltd, in its sole discretion, has the right to suspend, terminate or restrict your access to the Services, or any other Lexo Systems (P)
                | Ltd service, for any reason and at any time. Such termination of the Services will result in the deactivation or deletion of your account or your access to
                | your account, and the deletion of all Content on your account. Lexo Systems (P) Ltd reserves the right to refuse to provide the Services to anyone for any
                | reason at any time.
              div
                | 5) The provisions regarding "Use and Restrictions", "Payment Related", "Cancellation and Termination", "Ownership", "Disclaimer and Limitation of
                | Liability" and "General" and any provisions which by their nature survive, shall survive the termination of these Terms of Service.
              div
                br
              div
                | Ownership and Licenses
              div
                | ) Lexo Systems (P) Ltd. and its licensors retain title to and ownership of all rights (including copyright, trade-mark, patent, trade secret and all other
                | intellectual property rights) in and to the Services and Lexo Systems (P) Ltd's Content. You acquire no rights whatsoever to all or any part of the
                | Services except for the limited use rights granted by these Terms of Service. All rights not expressly granted to you are reserved to Lexo Systems (P) Ltd.
                | and its licensors.
              div
                | ) We claim no intellectual property rights over the Content made available to others through your account. Additionally, your profile and other Content you
                | provide to Lexo Systems (P) Ltd in connection with the Services remain yours. However, by making that Content available to others through the Services, or
                | providing it to Lexo Systems (P) Lt.d through the Services, you grant Lexo Systems (P) Ltd. a worldwide, non-exclusive, royalty-free, fully paid up license
                | (with a right to sublicense) to use, copy, reproduce, process, adapt, modify, publish, transmit, display and distribute such Content through any or all
                | media or distribution methods (whether now known or hereafter developed). You also acknowledge that the purpose of the Services is to access the services
                | of Third Party Service Providers, and that as a result you are agreeing to grant to Lexo Systems (P) Ltd. any and all other rights you grant to applicable
                | Third Party Service Providers.
              div
                br
              div
                | Disclaimer and Limitation of Liability
              div
                | THE SERVICES ARE PROVIDED "AS IS", "AS AVAILABLE", WITH ALL FAULTS AND WITHOUT WARRANTIES, REPRESENTATIONS OR CONDITIONS OF ANY KIND. USE OF THE SERVICES
                | IS ENTIRELY AT YOUR OWN RISK. LEXO SYSTEMS (P) LIMITED DOES NOT MAKE ANY REPRESENTATIONS, WARRANTIES OR CONDITIONS ABOUT THE QUALITY, ACCURACY, SECURITY,
                | RELIABILITY, COMPLETENESS, QUIET ENJOYMENT, CURRENCY, OR TIMELINESS OF THE SERVICES. LEXO SYSTEMS (P) LIMITED DOES NOT ASSUME ANY RESPONSIBILITY FOR ANY
                | INCOMPLETENESS, ERRORS, SECURITY, VIRUSES, BUGS, PROBLEMS, OMISSIONS, INACCURACIES OR OTHER LIMITATIONS IN, OR INTERRUPTIONS IN THE OPERATION OF, THE
                | SERVICES.
              div
                br
              div
                | TO THE FULLEST EXTENT PERMITTED BY LAW, LEXO SYSTEMS (P) LIMITED DISCLAIMS ALL WARRANTIES, REPRESENTATIONS AND CONDITIONS OF ANY KIND WITH RESPECT TO THE
                | SERVICES WHETHER EXPRESS, IMPLIED OR COLLATERAL, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A
                | PARTICULAR PURPOSE AND NON-INFRINGEMENT OR THAT THE SERVICES ARE OR WILL BE SECURE, COMPLETE OR FREE OF ERRORS, VIRUSES, BUGS, PROBLEMS OR OTHER
                | LIMITATIONS OR WILL OPERATE WITHOUT INTERRUPTION. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW. LEXO SYSTEMS (P) LIMITED DISCLAIMS ALL
                | LIABILITY, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING BUT NOT LIMITED TO NEGLIGENCE, GROSS NEGLIGENCE OR WILFUL MISCONDUCT), PRODUCT LIABILITY,
                | STRICT LIABILITY, STATUTORY LIABILITY, BREACH OF A FUNDAMENTAL TERM, FUNDAMENTAL BREACH, OR ANY OTHER LEGAL THEORY, FOR ANY LOSS OR DAMAGES OF ANY KIND
                | (INCLUDING, WITHOUT LIMITATION ANY (I) DIRECT, INDIRECT, SPECIAL, CONSEQUENTIAL, EXEMPLARY OR PUNITIVE LOSS OR DAMAGE, (II) LOST PROFITS OR SAVINGS, (III)
                | BUSINESS INTERRUPTION, (IV) LOSS OF PROGRAMS OR DATA (INCLUDING ANY CONTENT), (V) LOST REVENUE OR FAILURE TO REALIZE EXPECTED SAVINGS, (VI) LOSS OF USE,
                | (VII) PERSONAL INJURY, (VIII) FINES, FEES, PENALTIES, OR (VI) ANY OTHER LOSSES OR DAMAGES WHETHER OR NOT LEXO SYSTEMS (P) LIMITED IS ADVISED OF THE
                | POSSIBILITY OF SUCH DAMAGES, RESULTING FROM THE USE OF, OR THE INABILITY TO MAKE USE OF, THE SERVICES.
              div
                br
              div
                | General Conditions
              div
                | 1) Technical support is only provided to paying account holders and is only available via email.
              div
                | 2) You understand that Lexo Systems (P) Ltd uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage,
                | and related technology required to run the Services.
              div
                | 3) You understand that the technical processing and transmission of the Services, including your Content, may be transferred unencrypted and involve: (a)
                | transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.
              div
                | 4) If your bandwidth usage exceeds 100 MB/month, or significantly exceeds the average bandwidth usage of other Lexo Systems (P) Ltd customers (as
                | determined by Lexo Systems (P) Ltd in its sole discretion), Lexo Systems (P) Ltd reserves the right to immediately disable or impose restrictions upon your
                | account until you reduce your bandwidth consumption.
              div
                | 5) The failure of Lexo Systems (P) Ltd to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or
                | provision. The Terms of Service constitutes the entire agreement between you and Lexo Systems (P) Ltd and governs your use of the Services, superseding any
                | prior agreements between you and Lexo Systems (P) Ltd (including, but not limited to, any prior versions of the Terms of Service). A printed version of
                | these Terms of Service and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to
                | these Terms of Service to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in
                | printed form. Subject to Lexo Systems (P) Ltd's ability to amend these Terms of Service, they cannot be changed.
              div
                | 6) If any of the provisions contained in these Terms of Service are determined to be void, invalid or otherwise unenforceable by a court of competent
                | jurisdiction, that provision shall be enforced to the maximum extent permissible so as to effect the intent of these Terms of Service and such
                | determination shall not affect the remaining provisions contained herein.
              div
                | 7) You may not assign these Terms of Service or any of your rights or obligations under these Terms of Service to a third party. Subject to the foregoing,
                | these Terms of Service shall enure to the benefit of and be binding upon you and Lexo Systems (P) Ltd and their respective successors (including any
                | successor by reason of amalgamation) and assigns.
              div
                | 8) You agree that if you sue Lexo Systems (P) Ltd and do not obtain judgment in your favour, you will pay all of Lexo Systems (P) Ltd's costs, including
                | reasonable fees for in-house and outside legal counsel.
              div
                | 9) These Terms of Service are governed by the laws of the State of Karnataka and the applicable laws of India, without giving effect to any principles of
                | conflicts of laws contained therein, and all disputes or other matters arising out of this License will be dealt with by a court of competent jurisdiction
                | in Karnataka, India. These laws apply to your access to or use of the Services, notwithstanding your domicile, residency or physical location. The Services
                | are intended for use only in jurisdictions where they may lawfully be offered for use. You and Lexo Systems (P) Ltd specifically disclaim the UN Convention
                | on Contracts for the International Sale of Goods.
              div
                br

  





          